<%= form_for(@linkify_resource) do |f| %>
  <% if @linkify_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@linkify_resource.errors.count, "error") %> prohibited this linkify_resource from being saved:</h2>

      <ul>
      <% @linkify_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource_id %><br />
    <%= f.number_field :resource_id %>
  </div>
  <div class="field">
    <%= f.label :resource_type %><br />
    <%= f.text_field :resource_type %>
  </div>
  <div class="field">
    <%= f.label :linkify_resource_id %><br />
    <%= f.number_field :linkify_resource_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
