<h1>Listing linkify_resources</h1>

<table>
  <tr>
    <th>Resource</th>
    <th>Resource type</th>
    <th>Linkify resource</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @linkify_resources.each do |linkify_resource| %>
  <tr>
    <td><%= linkify_resource.resource_id %></td>
    <td><%= linkify_resource.resource_type %></td>
    <td><%= linkify_resource.linkify_resource_id %></td>
    <td><%= link_to 'Show', linkify_resource %></td>
    <td><%= link_to 'Edit', edit_linkify_resource_path(linkify_resource) %></td>
    <td><%= link_to 'Destroy', linkify_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Linkify resource', new_linkify_resource_path %>
